body {
    background-color: grey;
}
p {
    color: aliceblue;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial;

}
ul {
    color: aliceblue;
    font-size: large;
    font-family: Arial;
}
.main {
    width: 800px;
    margin: 0 auto;
    border: 1px solid grey;
    border-color: aliceblue;
    position: relative;
    height: 500px;
}
.name, .leftmenu, .rightmenu, .picture {

}
.name {
    width: 100%;
    position: absolute;

}
.name p {
    text-align: center;
}
.leftmenu {
    width: 400px;
    position: absolute;
    top: 150px;
}
.leftmenu p {


}
.leftmenu ul {
    margin-left: 20px;
}
.rightmenu {
    width: 200px;
    position: absolute;
    top: 150px;
    left: 500px;
}
.rightmenu a{
    color: aliceblue;
    font-family: Arial;
    font-size: 20px;
    text-align: center;
    display: block;
}
.picture {
    width: 200px;
    position: absolute;
    top: 190px;
    left: 500px;
}
.picture img {

}
/*.main {
    width: 800px;
    margin: 0 auto;
    border: 1px solid grey;
    border-color: aliceblue;

    height: 500px;
}

.name, .leftmenu, .rightmenu, .picture {
    float: left;
}

.name {
    width: 100%;
}

.leftmenu {
    width: 49%;
}

.rightmenu {
    width: 49%;
    margin-top: 50px;

}

.rightmenu a {
    color: aliceblue;
    font-family: Arial;
    font-size: 20px;
    text-align: center;
    display: block;

}

p {
    color: aliceblue;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial;

}

ul {
    color: aliceblue;
    font-size: large;
    font-family: Arial;
}

.myname {
    text-align: center;
}

.myrightmenu {
    padding: 40px;
}

.picture {
    width: 50%;

    margin-top: 20px;
}

.picture img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}*/
